*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: red;
}
main{
    margin: 0 auto;
    display: flex;
    align-items:center;
    flex-direction: column;
}
.timer-buttons-wrapper{
    display:flex;
    gap:1rem
}
.timer{
    display:grid;
    gap: 2rem;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
}
.clock{
    font-size: 4rem;
    background-color: rgb(235, 207, 207);
    padding: 1rem;
    margin:0.5rem;
    border-radius: 1rem;
}
.label{
    grid-area:2/1/3/4;
    text-align:center;
}
.timer-number{
    text-align:center;
    font-size: 2rem;
    background-color: rgb(235, 207, 207);
    padding:1rem;
    border-radius:1rem;
}